.navigation-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-futures{
    display: flex;
    justify-content: space-around;
}
.logo {
    img{
        width: 100%;
        margin: 5px;
    }
}
.navigation-bar{
    a{
        color: #181d4E;
        text-decoration: none;
    }
}
.navbar{
    ul{
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li{
            padding: 0 8px;
            font-size: 18px;
            font-weight: 700;
            align-items: center; 
        }
    }
}
.nav-futures{
    ul{
        display: flex;
        justify-content: center;
        margin: 30px 0;
        li{
            padding: 0 8px;
            cursor: pointer;
        }
    }
    i{
        font-size: 20px;
    }
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #181d4E;
  }
  /* underline */
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #181d4E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }