.navbar-mobile{
    z-index: 333;
    position: absolute;
    width: 100%;
    top: 60%;
    right: 0%;
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.mob{
    z-index: 333;
    position: absolute;
    display: none;
    padding-top: 20px;
    top: 9%;
    visibility: visible;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    background: #fff;
    width: 100%;
    right: 0%;
}
.navbar-mobile {
    .nav-menu{
        background-color: white;
        color: black;
        font-family: sans-serif;
        font-size: 18px;
        cursor: pointer;  
        li{
            img{
                width: 100% !important;
            }  
        }   
    }
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 8px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: black; 
}
.navbar-mobile{
    display: none;
}
@media screen and (max-width:992px) {
    .nav-menu li{
        text-align: center;
        img{
            width: 100%;
            height: 20%;
        }
    }
    .header-futures{
        display: none;
    }
    .hamburger{
        display: block;
    }
     .hamburger.active .bar:nth-child(2){
        opacity: 0;
     } 
     .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
     }
     .hamburger.active .bar:nth-child(3){
        transform: translateY(-12px) rotate(-45deg);
     }
    .nav-bar .nav-menu{
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-menu{
        li{
            padding: 5px 0;
            a{
            color: #181d4E;
            font-size: 18px;
            font-weight: 700;
        }
    }
}
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
    .mob{
        display: block;
    }
    .navigation-bar{
        display: flex;
        justify-content: space-around;
    }
}