.login-center{
    justify-content: center;
}
.login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    padding: 31px 0;
    label{
        display: block;
        margin: 10px 0;
    }
    input{
        padding: 12px 22px;
        width: 100%;
        background-color: #f8f8f8;
        border: 1px solid #12AEE0;
        border-radius: 12px;        
    }
}
.lost-password{
    a{
        text-decoration: none;
        color: black;
    }
}
.btn-login{
    padding-top: 10px;
}
.login-button{
    background-color: #12AEE0;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding:15px 30px;
    cursor: pointer;
    border: none;
    transition: all 0.8s;
    &:hover{
        outline: 2px dashed #12AEE0;
        opacity: 0.8;
        background-color: white;
        color: #12AEE0;
    }
}