//discover start
.discover-shop{
    background: url("./../Img/juno_3-1-copyright.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    background-position: center;
    width: 100%;
    height: 100%;
}
.discover-title{
    padding: 300px 100px;
    flex-direction: column;
    color: white;
    text-align: center;
    .discover--shop-title{
        h2{
            font-size: 95px;
            font-weight: 600;
        }
    }
    .discover--shop-description{
        p{
            font-size: 25px;
        }
    }
    .discover--shop-button{
        button{
            background-color: #12AEE0;
            border-radius: 25px;
            color: white;
            font-size: 18px;
            font-weight: 600;
            padding:15px 30px;
            cursor: pointer;
            border: none;
            transition: all 0.8s;
          
            &:hover{
                opacity: 0.8;
                background-color: white;
                color: #12AEE0;
            }
        }
    }
}

.active-wish{
    color: red !important;
    font-size: 90px;
    // background-color: red !important;
}
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

//discover end
// Shopping start
.shopping{
    background-color: #d9dee3;
    .shopping-title{
        padding:30px 0;
        p,h1{
            text-align: center;
            color: #181d4e;
        }
        h1{
            font-weight: 600;
            letter-spacing: 2px;
        }
    }
}
.product{
    padding: 30px 8px;
    .product-img{
        img{
            width: 100%;
            height: 350px;
            cursor: pointer;
            border-radius: 15px;
        }
    }
    .product-title--price{
        text-align: center;
        p{
            padding-top: 8px;
            font-size: 18px;
            a{
                color:#181d4e;     
                text-decoration: none;
                font-weight: 500;
            }
        }
        span{
            font-size: 18px;
        }
    }
}
.product-img{
    position: relative;
    img{
        transform-origin: 50% 65%;
        transition: transform 0.8s, filter 3s ease-in-out;
        &:hover{
            transform: scale(1.1); 
            opacity: 0.8;
        }
    }
  }
  .product-img { 
    font-size: 16px; 
    line-height: 1.2em; 
    position: relative; 
    float: left; 
    cursor: pointer;
    overflow: hidden; 
    margin: 10px 1%; 
}
.product-img *,
.product-img *:before,
.product-img *:after {
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.product-img:before { 
    position: absolute; 
    top: 10px; 
    bottom: 10px; 
    left: 10px; 
    right: 10px; 
    content: ''; 
    opacity: 0;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.product-img img { 
    max-width: 100%; 
    width: 100%; 
    height: 300px;
    vertical-align: top; 
}
.product-img .overlay { 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.product-img a { 
    margin: 2px; 
    opacity: 0; 
    text-decoration: none;
}

.product-img a i { 
    display: block; 
    line-height: 40px; 
    width: 40px; 
    background-color: #ffffff; 
    text-align: center; 
    color: #000000; 
    font-size: 18px;
    border-radius: 25px;
    text-decoration: none;
}
.product-img a i:hover { 
    color: #12aee0; 
    cursor: pointer; 
}
.product-img a:first-of-type {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
}
.product-img a:last-of-type {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.product-img:hover:before,
.product-img.hover:before { 
    opacity: 0.5; 
}
.product-img:hover a,
.product-img.hover a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    .product-img { 
            width:100%; 
            margin:0 0 15px; 
    }
}
//Shopping end
// Category start
.product-categories{
    background-color: #f5f6f7;
    padding: 40px 0;
}
.category{
    padding: 20px 0;
    .category-title{
        text-align: center;
    }
    .category-description{
        h2{
            letter-spacing: 2px;
            text-align: center;
            font-size: 2.5em;
            color: #181d4e;
            font-weight: 600;
        }
    }
}
.categories{
    position: relative;
    @include flex();
    cursor: pointer;
    transition: 0.8s;
    &:hover{
        transform: scale(0.9);
        opacity: 0.9;
    }
        img{
            height: 250px;
            width: 100%;
            border-radius: 15px;
        }
    .categories-title{
        position: absolute;
        bottom: 0;
        padding: 8px;
        color: white;
    }
}
// Category end
// About-us started
.team-about-us{
    padding: 40px 0;
    img{
        border-radius: 15px;
        width: 100%;
    }
}
.about-info{
    padding: 10px 25px;
    span{
        color: #181d4e;
    }
    h1{
        color: #181d4e;
        font-size: 46px;
        font-weight:600;
        margin: 5px;
    }
    img{
        margin-top: 70px;
        width: 100%;
    }

}
.smile{
    img{
        position: absolute;
        bottom: -9px;
        right: 8px;
        width: 18%;
    }
    #cycle{
        animation: aboutus 5s infinite;
    }
    @keyframes aboutus {
        0%{
            transform: rotate(0deg);
           }
        100%{
            transform: rotate(360deg);
           }
      }
}
// About-us end
// Futures start
.futures{
    padding: 60px 0;
    .futures-opinions{
        display: flex;
        padding: 10px 0;
    }
    .futures-icon{
        i{
            background-color: #fff;
            padding: 8px;
            font-size: 3em;
        }
       
    }
    .futures-description{
        padding-left: 8px;
    }
    .futures-description::before{
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 1px;
        right: 0;
        top: 0;
        background-color: #d9dee3;
    }
}
// Futures end
.paralax-img{
    img{

        width: 100%;
    }
}

@media screen and (max-width:992px){
    .discover-title{
        @include flex();
    }
    .about-info{
        padding: 20px 0;
    }
    .categories{
        padding: 20px 10px;
    }
    .categories-title{
        margin: 10px;
    }
    .categories-title h3{
        font-size: 2.5em;
        font-weight: 500;
    }
}