#product{
    background-color: #f5f6f7;
}
.product-view{
    padding: 70px 0;
}
.product--view-img{ 
    img{
        width: 100%;
    }
    box-shadow: 5px 1px 5px rgb(246, 253, 255) inset;
    cursor: pointer;
    border-radius: 8px;
}
.product--view-price{
    h4{
        color: #12AEE0;
    }
}
.add-wishlist{
    padding: 10px 0;
    button{
        transition: 0.8s ease-in;
        padding: 12px;
        border-radius: 25px;
        background-color:#12AEE0;
        color: #f5f6f7;
        border: none;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }
}
