#wishlist{
    background-color: #f5f6f7;
}
.product-title--price{
    input{
        border-radius: 8px;
        padding: 4px;
    }
    i{
        cursor: pointer;
    }
}
.product{
    span{
        cursor:pointer;
        i{
            display: flex;
            justify-content: end;
            transition: 0.8s ease-in-out;
            &:hover{
                color: red;
                opacity: 0.7;
            }
        }
    }
}